OOCService/obj/*
OpenMIWrapper/obj/*
OOCHost/obj/*
OOCHost/bin/Debug/OOCHost.*
OOCHost/bin/Release/OOCHost.*
*.pdb
*.suo
.DS_Store
OOC.dll
OpenMIWrapper.dll
/OOCService/bin/MySql.Data.dll
/OOCService/bin/MySql.Data.Entity.dll
