OOC.Server/obj/*
OOC.Server/bin/OOC.*
OOC.Instance/obj/*
OOC.Instance/bin/Debug/OOC.*
OOC.Instance/bin/Release/OOC.*
OOC.OpenMIWrapper/obj/*
OOC.OpenMIWrapper/bin/Debug/OOC.*
OOC.OpenMIWrapper/bin/Release/OOC.*
OOC.Util/obj/*
OOC.Util/bin/Debug/OOC.*
OOC.Util/bin/Release/OOC.*
OOC.TaskRunner/obj/*
OOC.TaskRunner/bin/Debug/OOC.*
OOC.TaskRunner/bin/Release/OOC.*
OOC.UnitTest/obj/*
OOC.UnitTest/bin/Debug/OOC.*
OOC.UnitTest/bin/Release/OOC.*
OOC.OpenMIComponent.DataMonitor/obj/*
OOC.OpenMIComponent.DataMonitor/bin/Debug/OOC.*
OOC.OpenMIComponent.DataMonitor/bin/Release/OOC.*
*.pdb
*.suo
.DS_Store
*.csproj.user
/OOC.GUI/FileClient/obj
/OOC.GUI/FileClient/bin
/OOC.sln.bak
*.pyc
/test
