OOC/obj/*
OOC/bin/OOC.*
OOC.Instance/obj/*
OOC.Instance/bin/Debug/OOC.*
OOC.Instance/bin/Release/OOC.*
OOC.OpenMIWrapper/obj/*
OOC.OpenMIWrapper/bin/Debug/OOC.*
OOC.OpenMIWrapper/bin/Release/OOC.*
OOC.Util/obj/*
OOC.Util/bin/Debug/OOC.*
OOC.Util/bin/Release/OOC.*
OOC.TaskRunner/obj/*
OOC.TaskRunner/bin/Debug/OOC.*
OOC.TaskRunner/bin/Release/OOC.*
*.pdb
*.suo
.DS_Store
*.csproj.user
