<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="oocBasicHttpBinding" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_ITaskService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6736/Service/BillService.svc"
        binding="basicHttpBinding" bindingConfiguration="oocBasicHttpBinding"
        contract="BillService.IBillService" name="BasicHttpBinding_IBillService" />
      <endpoint address="http://localhost:6736/Service/TaskService.svc"
        binding="basicHttpBinding" bindingConfiguration="oocBasicHttpBinding"
        contract="TaskService.ITaskService" name="BasicHttpBinding_ITaskService" />
      <endpoint address="http://localhost:6736/Service/FileService.svc"
        binding="basicHttpBinding" bindingConfiguration="oocBasicHttpBinding"
        contract="FileService.IFileService" name="BasicHttpBinding_IFileService" />
      <endpoint address="http://localhost:6736/Service/InstanceService.svc"
        binding="basicHttpBinding" bindingConfiguration="oocBasicHttpBinding"
        contract="InstanceService.IInstanceService" name="BasicHttpBinding_IInstanceService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="taskWorkingDirectory" value="C:\OOCTasks\" />
    <add key="taskUsername" value="OOCTask" />
    <add key="taskPassword" value="123456" />
    <add key="taskRunnerExecutable" value="OOC.TaskRunner.exe" />
  </appSettings>
</configuration>
