<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITaskService" />
                <binding name="BasicHttpBinding_IFileService" />
                <binding name="BasicHttpBinding_IInstanceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6736/Service/TaskService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaskService"
                contract="TaskService.ITaskService" name="BasicHttpBinding_ITaskService" />
            <endpoint address="http://localhost:6736/Service/FileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
                contract="FileService.IFileService" name="BasicHttpBinding_IFileService" />
            <endpoint address="http://localhost:6736/Service/InstanceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInstanceService"
                contract="InstanceService.IInstanceService" name="BasicHttpBinding_IInstanceService" />
        </client>
    </system.serviceModel>
</configuration>
