<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6736/Service/FileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
                contract="FileService.IFileService" name="BasicHttpBinding_IFileService" />
        </client>
    </system.serviceModel>
</configuration>